// Default variable overrides
$primary: #48fd00;//
$fontStyle: 'fantasy' , Oswald;
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px
);

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables"; // 기본변수에 대한 색상들이 지정되어 있어서, 
//만약 내가 먼저 다른 변수에 지정하고자 한다면, 이 import 위에 변수에 대한 색상 선언을 해주어야 한다.
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

